<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Bath Playbills</h1>
    <p>Exposing the history of the Royal Theatre in Bath</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">

  <div class="row">
	<% @samples.each do |page| %>
	    <div class="col-md-4">
			<a href="<%= page_path(page) %>">
				<img class="thumbnail" src="<%= image(page) %>" />
			</a>
	    </div>
	<% end %>
	
  </div>

  <hr>

  <footer>
    <p>&copy; Bath:Hacked 2015</p>
  </footer>
</div> <!-- /container -->
