    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Bath Playbills</h1>
        <p>Exposing the history of the Royal Theatre in Bath</p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Random Page</h2>
          <p>View a random page from the archive</p>
          <p><a class="btn btn-default" href="/pages/random" role="button">Go!</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Bath:Hacked 2015</p>
      </footer>
    </div> <!-- /container -->
